.about {
    padding: 120px 0;

    &__grid-main {
        display: grid;
        max-width: 1040px;
        min-height: 600px;
        grid-template-columns: 400px 570px;
    }

    &__grid-photo {
        background: url("../img/main_photo.jpg") center (center/cover) no-repeat;
        margin-right: 70px;
    }

    &__grid-descr {
        display: grid;
        grid-template-columns: 570px;
        grid-template-rows: repeat(auto-fit, minmax(5px, auto));
        &-divider {
            width: 60px;
            height: 3px;
            background-color: $main-color;
        }

        &-content {
            font-size: 14px;
            line-height: 21px;
            font-weight: 500;
        }
    }
}

