@media (max-width: 1439px) {
  
    .sidepanel {
        display: none;
    }
}

@media (max-width: 1200px) {
    .container {
        max-width: 960px;
    }
    .about {
        &__wrapper {
            grid-template-columns: 400px 510px;
            column-gap: 50px;
        }
        &__skills {
            grid-template-columns: 245px 245px;
            column-gap: 20px;
            &-item {
                grid-template-columns: 40px 185px;
            }
        }
    }
    .resume {
        &__wrapper {
            grid-template-columns: 380px 380px;
            column-gap: 85px;
        }
    }
    .skills {
        &__wrapper {
            justify-content: center;
        }
        &__progress {
            &-wrapper {
                justify-content: center;
            }
        }
    }

    .portfolio {
        &__wrapper {
            justify-content: space-around;
            row-gap: 35px;
            .horizontal, .vertical {
                grid-row: unset;
                grid-column: unset;
            }
        }
    }

    .contacts {
        &__wrapper {
            grid-template-columns: 350px 535px;    
            padding: 0 30px 0 31px;
            column-gap: 20px;
        }

        &__form {
            grid-template: 45px minmax(190px,auto) 45px / repeat(2,255px);
            column-gap: 20px;
            .form__button {
                font-size: 14px;
            }
        }
        &__triggers {
            column-gap: 27px;
        }
    }
    
}

@media (max-width: 992px) {
    .container {
        max-width: 720px;
    }
    .title {
        &_fz36 {
            font-size: 30px;
        }
    }
    .about {
        &__title {
            width: 100%;
        }
        &__wrapper {
            grid-template-columns: 340px 340px;
            column-gap: 40px;
        }
        &__skills {
            grid-template-columns: 340px;
            grid-template-rows: auto;
            grid-auto-rows: auto;
            &-item {
                grid-template-columns: 40px 280px;
            }
        }
    }

    .resume {
        padding-top: 70px;
        
        &__wrapper {
            padding: 50px 0;
            grid-template-columns: 340px 340px;
            column-gap: 40px;
        }
        &__skill {
            grid-template-columns: 40px 1fr;
        }
    }

    .skills {
        padding-top: 30px;
        &__wrapper {
            padding: 60px 10px 60px 10px;
        }
        &__progress {
            &-wrapper {
                grid-template-columns: repeat(auto-fill,335px);
            }
        }
    }
    .portfolio {
        &__wrapper {
            margin-top: 40px;
        }
        padding-top: 40px;
        .divider {
            margin: 10px auto 0 auto;
        }
    }

    .price {
        &__wrapper {
            padding: 40px 0 0 0;
            grid-template-columns: repeat(auto-fit, 350px);
        }
    }
    .contacts {
        &__wrapper {
            grid-template-columns: 1fr;
            grid-template-rows: 1fr;
        }
        &__photo {
            display: none;
            
        }
        &__mail {
            justify-self: center;
        }
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 540px;
        
    }
    .title {
        &_fz48 {
            font-size: 24px;
        }
    }
    .promo {
        &__title {
            line-height: 39px;
            width: 300px;
            font-size: 24px;
        }
        
    }
    .about {
        padding-top: 30px; 
        &__title {
            line-height: 60px;
        }
        &__photo {
            grid-row: unset;
        }
        &__wrapper {
            grid-template-columns: 1fr;
            grid-template-rows: 400px auto auto;
        }
        &__skills {
            grid-template-columns: 260px 260px;
            &-item {
                grid-template-columns: 40px 200px;
                column-gap: 20px;
            }
        }
    }

    .resume {
        &__wrapper {
            grid-template-columns: 1fr;
            column-gap: 0;
            row-gap: 40px;
        }
        
    }

    .skills {
        &__wrapper {
            grid-template-columns: repeat(auto-fill,253px);
        }
        &__progress {
            &-wrapper {
                grid-template-columns: repeat(auto-fill,247px);
            }
        }
    }
    .price {
        &__wrapper {
            justify-content: center;
        }
    }

    .contacts {
        &__form {
            grid-template: 45px minmax(190px,auto) 45px / repeat(2,auto);
        }
        &__triggers {
            grid-template-rows: repeat(2, auto);
            row-gap: 10px;
            grid-template-columns: unset;
            justify-content: center;
            .form__button {
                width: 200px;
                padding: 12px 17px;
                justify-self: center;
            }
        }
    }
}

@media (max-width: 576px) {
    .container {
        width: 100%;
        padding: 0 10px;
    }
    .title {
        &_fz48, &_fz36 {
            font-size: 24px;
        }
    }

    .hamburger {
        right: 20px;
    }

    .menu {
        &__block {
            width: 250px;
            padding-left: 50px;
        }
    }

    .about {
        &__wrapper {
            grid-template-rows: 340px auto auto;
        }
        &__skills {
            grid-template-columns: 1fr;
        }
    }

    .resume {
        padding-top: 40px;
        &__wrapper {
            padding: 40px 0 0 0;
        }
        
    }

    .skills {
        padding-top: 40px;
        .title {
            &_fz36 {
                line-height: 36px;
                margin-top: 20px;
            }
        }
        &__wrapper {
            grid-template-columns: repeat(auto-fill,270px);
            padding: 20px 10px 40px 10px;
        }
        &__progress {
            &-wrapper {
                grid-template-columns: 1fr;
            }
        }
    }
    .price {
        &__wrapper {
            grid-template-columns: repeat(auto-fit,300px);
        }
        &__item {
            column-gap: 5px;
        }
    }
    .contacts {
        padding: 40px 0 90px 0;
        &__form {
            grid-template: 45px 45px minmax(190px,auto) 45px / 1fr;
        }

        &__triggers, .two-columns {
            grid-column: unset;
        }
        &__policy {
            display: grid;
            grid-template-columns: 20px auto;
            align-items: center;
            a {
                grid-column: 1 / 3;
            }
        }
    }
}

